.navbar {
  background-color: #111827;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.navbar-container {
  max-width: 1280px;
  margin: auto;
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.8rem;
  font-weight: 800;
  color: #3bbef6;
  text-decoration: none;
  letter-spacing: 1px;
}

.navbar-logo .highlight {
  color: #ec4899;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
}

.navbar-links li a,
.navbar-links li button {
  color: #d1d5db;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-links li a:hover,
.navbar-links li button:hover {
  color: #60a5fa;
}

.navbar-links li .active {
  border-bottom: 2px solid #1d4ed8;
  padding-bottom: 0.25rem;
  color: #ffffff;
  font-weight: 600;
}


.navbar-toggle {
  display: none;
  font-size: 1.5rem;
  color: #f9fafb;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar-links {
    position: absolute;
    top: 64px;
    left: 0;
    background-color: #1f2937;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    display: none;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }
}
